*.iml
.gradle
/local.properties
.idea/*
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
sample/google-services.json
sample/release/app-release.aab
sample/release/app-release.apk
sample/release/app-release.aab
sample/release/app-release.apk
build/*

sample/app/release/*

gui/build/*

sample/app/build/*

sample/feature-custom/build/*
sample/feature-custom/navigation/build/*

sample/feature-home/build/*
sample/feature-home/navigation/build/*

sample/feature-details/build/*
sample/feature-details/navigation/build/*

sample/feature-bottomnav/build/*
sample/feature-bottomnav/navigation/build/*

sample/feature-common/build/*
sample/feature-common/navigation/build/*

sample/feature-dialogs/build/*
sample/feature-dialogs/navigation/build/*

sample/feature-nested/build/*
sample/feature-nested/navigation/build/*

sample/feature-settings/build/*
sample/feature-settings/navigation/build/*

sample/feature-welcome/build/*
sample/feature-welcome/navigation/build/*
