*.iml
.gradle
/local.properties
.idea/*
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
sample/google-services.json
sample/release/app-release.aab
sample/release/app-release.apk
sample/release/app-release.aab
sample/release/app-release.apk
